.tool-bar {
    height: 50px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    // flex-direction: row-reverse;
    &__pagination {
        margin-left: 105px;
        justify-self: center;
    }
    &__dropdown {
        display: flex;
        gap: 7px;
        justify-self: end;
        align-items: center;
        font-size: 12px;
        &__select {
            border: 1px solid #ECEFF1;
            border-radius: 3px;
            padding: 4px 8px;
        }
    }
}